#no-mobile{
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 32px;
  color: white;
  font-weight: 600;
}

@media screen and (max-width:640px){
  #no-mobile{
    display: none;
  }
}